<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
   <style type="text/css">
              .xq p{
                border-bottom: 1px solid #ccc;
              }
    </style>
<body>
          <div class="xq">
             <p>订单编号:{$data['brand_bh']}</p>
             <p>添加时间:{$data['brand_time']}</p>
             <p>购买数量:{$data['brand_num']}</p>
             <p>商品名称:{$data['goods_name']}</p>
             <p>收货地址:{$data['address']}</p>
     </div>
</body>
</html>