<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改菜单-有点</title>
    <base href="__STATIC__/admin/"/>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;意见管理
			</div>
		</div>
		<div class="page ">
            <form action="{:url('Menu/editdo')}" method="post">
			<!-- 会员注册页面样式 -->
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>会员注册</span>
				</div>
				<div class="baBody">
                    <input type="hidden" name="n_id" value="{$data.n_id}"/>
                    <div class="bbD">
                        &nbsp;&nbsp;父级菜单：<select name="p_id" id="" class="input3">
                        <option value="0">请选择父级菜单</option>
                        {foreach $menudata as $key =>$val}
                        <option value="{$val.n_id}"><?php echo str_repeat('|--',$val['level']);?>{$val.n_name}</option>
                        {/foreach}

                    </select>
                    </div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;菜单名称：<input type="text" value="{$data.n_name}"  name="n_name" class="input3" required="required" />
					</div>
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;控制器：<input type="text" value="{$data.controller}" class="input3" name="controller" required="required" />
					</div>
                    <div class="bbD">
                       &nbsp;&nbsp;方法：<input type="text" value="{$data.action}" name="action" class="input3" required="required"/>
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;p_id：<input type="text" value="{$data.p_id}" name="action" class="input3" required="required"/>
                    </div>
					<div class="bbD">
						<p class="bbDP">
							<button class="btn_ok btn_yes" href="#">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
				</div>
			</div>

			<!-- 会员注册页面样式end -->
            </form>
		</div>
	</div>
</body>
</html>