<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改用户-有点</title>
    <base href="__STATIC__/admin/"/>
    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">公共管理</a>&nbsp;-</span>&nbsp;意见管理
        </div>
    </div>
    <div class="page ">
        <form action="{:url('User/edit')}" method="post">
            <!-- 会员注册页面样式 -->
            <div class="banneradd bor">
                <div class="baTopNo">
                    <span>会员注册</span>
                </div>
                <div class="baBody">
                    <input type="hidden" name="us_id" value="{$data.us_id}"/>
                    <div class="bbD">
                        &nbsp;&nbsp;&nbsp;用户名：<input type="text" value="{$data.us_name}"  name="us_name" class="input3" required="required" />
                    </div>
                    <div class="bbD">
                        &nbsp;&nbsp;电话：<input type="text" value="{$data.us_tel}" name="us_tel" class="input3" required="required" />
                    </div>
                    <div class="bbD">
                        邮箱：<input type="email" name="us_email" value="{$data.us_email}" class="input3" required="required"/>
                    </div>
                    <div class="bbD">
                        <p class="bbDP">
                            <button class="btn_ok btn_yes" href="#">修改</button>
                            <a class="btn_ok btn_no" href="#">取消</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- 会员注册页面样式end -->
        </form>
    </div>
</div>
</body>
</html>